AUTH_GOOGLE_ID=auth-google-id
AUTH_GOOGLE_SECRET=auth-google-secret
AUTH_SECRET=auth-secret
AUTH_URL=https://pong.joaobarbosa.dev.br

SUPERADMIN_EMAIL=superadmin@email.com
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb?schema=public
TENANT_ROOT_DOMAIN=pong.joaobarbosa.dev.br
NEXT_PUBLIC_TENANT_ROOT_DOMAIN=pong.joaobarbosa.dev.br
AUTH_COOKIE_DOMAIN=.pong.joaobarbosa.dev.br
