AUTH_GOOGLE_ID=auth-google-id
AUTH_GOOGLE_SECRET=auth-google-secret
AUTH_SECRET=auth-secret

SUPERADMIN_EMAIL=superadmin@email.com
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb?schema=public