AUTH_GOOGLE_ID=auth-google-id
AUTH_GOOGLE_SECRET=auth-google-secret
AUTH_SECRET=auth-secret

SUPERADMIN_EMAIL=superadmin@email.com
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mydb?schema=public

NEXT_PUBLIC_FIREBASE_API_KEY=firebase-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://your-project-default-rtdb.firebaseio.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=firebase-messaging-sender-id
NEXT_PUBLIC_FIREBASE_APP_ID=firebase-app-id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=firebase-measurement-id
